In [27]:
#importing data management, data visualisation libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
data= pd.read_csv('KL_no_null_no_duplicates_data.csv')
data

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing
0,"KLCC, Kuala Lumpur","RM 1,250,000",2+1,3.0,2.0,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished
1,"Dutamas, Kuala Lumpur","RM 1,030,000",3,4.0,2.0,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished
2,"Bukit Jalil, Kuala Lumpur","RM 900,000",4+1,3.0,2.0,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished
3,"Taman Tun Dr Ismail, Kuala Lumpur","RM 5,350,000",4+2,5.0,4.0,Bungalow,Land area : 7200 sq. ft.,Partly Furnished
4,"Taman Tun Dr Ismail, Kuala Lumpur","RM 2,600,000",5,4.0,4.0,Semi-detached House,Land area : 3600 sq. ft.,Partly Furnished
...,...,...,...,...,...,...,...,...
29027,"Seputeh, Kuala Lumpur","RM 750,000",3,2.0,1.0,Condominium,Built-up : 915 sq. ft.,Partly Furnished
29028,"KL Sentral, Kuala Lumpur","RM 1,400,000",3+1,3.0,2.0,Condominium (Corner),Land area : 1544 sq. ft.,Fully Furnished
29029,"KL Eco City, Kuala Lumpur","RM 880,000",1,1.0,1.0,Condominium (Corner),Built-up : 650 sq. ft.,Partly Furnished
29030,"Sri Hartamas, Kuala Lumpur","RM 2,700,000",4+2,6.0,3.0,Condominium (Corner),"Built-up : 3,973 sq. ft.",Partly Furnished
29031,"Setapak, Kuala Lumpur","RM 540,000",4,2.0,3.0,Condominium (Intermediate),"Built-up : 1,313 sq. ft.",Partly Furnished

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29032 entries, 0 to 29031
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       29032 non-null  object
 1   Price          29032 non-null  object
 2   Rooms          29032 non-null  object
 3   Bathrooms      29032 non-null  float64
 4   Car Parks      29032 non-null  float64
 5   Property Type  29032 non-null  object
 6   Size           29032 non-null  object
 7   Furnishing     29032 non-null  object
dtypes: float64(2), object(6)
memory usage: 1.8+ MB

In [30]:
data.dtypes

Location          object
Price             object
Rooms             object
Bathrooms        float64
Car Parks        float64
Property Type     object
Size              object
Furnishing        object
dtype: object

In [31]:
data.describe().T

             count      mean       std  min  25%  50%  75%   max
Bathrooms  29032.0  2.966003  1.552182  1.0  2.0  2.0  4.0  20.0
Car Parks  29032.0  2.034617  1.336707  1.0  1.0  2.0  2.0  30.0

In [32]:
data

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing
0,"KLCC, Kuala Lumpur","RM 1,250,000",2+1,3.0,2.0,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished
1,"Dutamas, Kuala Lumpur","RM 1,030,000",3,4.0,2.0,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished
2,"Bukit Jalil, Kuala Lumpur","RM 900,000",4+1,3.0,2.0,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished
3,"Taman Tun Dr Ismail, Kuala Lumpur","RM 5,350,000",4+2,5.0,4.0,Bungalow,Land area : 7200 sq. ft.,Partly Furnished
4,"Taman Tun Dr Ismail, Kuala Lumpur","RM 2,600,000",5,4.0,4.0,Semi-detached House,Land area : 3600 sq. ft.,Partly Furnished
...,...,...,...,...,...,...,...,...
29027,"Seputeh, Kuala Lumpur","RM 750,000",3,2.0,1.0,Condominium,Built-up : 915 sq. ft.,Partly Furnished
29028,"KL Sentral, Kuala Lumpur","RM 1,400,000",3+1,3.0,2.0,Condominium (Corner),Land area : 1544 sq. ft.,Fully Furnished
29029,"KL Eco City, Kuala Lumpur","RM 880,000",1,1.0,1.0,Condominium (Corner),Built-up : 650 sq. ft.,Partly Furnished
29030,"Sri Hartamas, Kuala Lumpur","RM 2,700,000",4+2,6.0,3.0,Condominium (Corner),"Built-up : 3,973 sq. ft.",Partly Furnished
29031,"Setapak, Kuala Lumpur","RM 540,000",4,2.0,3.0,Condominium (Intermediate),"Built-up : 1,313 sq. ft.",Partly Furnished

In [33]:
#Cleaning Location column
# Split the column with commas into two separate columns
data[['area', 'L2', 'L3']] = data['Location'].str.split(',' ,expand=True)
data.drop(columns=["Location","L2","L3"], inplace=True)
data

,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing,area
0,"RM 1,250,000",2+1,3.0,2.0,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished,KLCC
1,"RM 1,030,000",3,4.0,2.0,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished,Dutamas
2,"RM 900,000",4+1,3.0,2.0,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished,Bukit Jalil
3,"RM 5,350,000",4+2,5.0,4.0,Bungalow,Land area : 7200 sq. ft.,Partly Furnished,Taman Tun Dr Ismail
4,"RM 2,600,000",5,4.0,4.0,Semi-detached House,Land area : 3600 sq. ft.,Partly Furnished,Taman Tun Dr Ismail
...,...,...,...,...,...,...,...,...
29027,"RM 750,000",3,2.0,1.0,Condominium,Built-up : 915 sq. ft.,Partly Furnished,Seputeh
29028,"RM 1,400,000",3+1,3.0,2.0,Condominium (Corner),Land area : 1544 sq. ft.,Fully Furnished,KL Sentral
29029,"RM 880,000",1,1.0,1.0,Condominium (Corner),Built-up : 650 sq. ft.,Partly Furnished,KL Eco City
29030,"RM 2,700,000",4+2,6.0,3.0,Condominium (Corner),"Built-up : 3,973 sq. ft.",Partly Furnished,Sri Hartamas
29031,"RM 540,000",4,2.0,3.0,Condominium (Intermediate),"Built-up : 1,313 sq. ft.",Partly Furnished,Setapak

In [34]:
#Cleaning Price column
data['Price'] = data['Price'].str.replace(r'\D+', '', regex=True).astype(int)

data

,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing,area
0,1250000,2+1,3.0,2.0,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished,KLCC
1,1030000,3,4.0,2.0,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished,Dutamas
2,900000,4+1,3.0,2.0,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished,Bukit Jalil
3,5350000,4+2,5.0,4.0,Bungalow,Land area : 7200 sq. ft.,Partly Furnished,Taman Tun Dr Ismail
4,2600000,5,4.0,4.0,Semi-detached House,Land area : 3600 sq. ft.,Partly Furnished,Taman Tun Dr Ismail
...,...,...,...,...,...,...,...,...
29027,750000,3,2.0,1.0,Condominium,Built-up : 915 sq. ft.,Partly Furnished,Seputeh
29028,1400000,3+1,3.0,2.0,Condominium (Corner),Land area : 1544 sq. ft.,Fully Furnished,KL Sentral
29029,880000,1,1.0,1.0,Condominium (Corner),Built-up : 650 sq. ft.,Partly Furnished,KL Eco City
29030,2700000,4+2,6.0,3.0,Condominium (Corner),"Built-up : 3,973 sq. ft.",Partly Furnished,Sri Hartamas
29031,540000,4,2.0,3.0,Condominium (Intermediate),"Built-up : 1,313 sq. ft.",Partly Furnished,Setapak

In [35]:
# Splitting the Rooms column and creating two new columns, no of bed room, servant rooms
data[['No_of_Bedrooms', 'No_of_servant_rooms']] = data['Rooms'].str.split('+', expand=True)
data.drop(columns="Rooms", inplace=True)

In [36]:
data['No_of_servant_rooms'].isna().sum()

17243

In [37]:
data['No_of_servant_rooms'].fillna(value=0, inplace=True)

In [38]:
data

,Price,Bathrooms,Car Parks,Property Type,Size,Furnishing,area,No_of_Bedrooms,No_of_servant_rooms
0,1250000,3.0,2.0,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished,KLCC,2,1
1,1030000,4.0,2.0,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished,Dutamas,3,0
2,900000,3.0,2.0,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished,Bukit Jalil,4,1
3,5350000,5.0,4.0,Bungalow,Land area : 7200 sq. ft.,Partly Furnished,Taman Tun Dr Ismail,4,2
4,2600000,4.0,4.0,Semi-detached House,Land area : 3600 sq. ft.,Partly Furnished,Taman Tun Dr Ismail,5,0
...,...,...,...,...,...,...,...,...,...
29027,750000,2.0,1.0,Condominium,Built-up : 915 sq. ft.,Partly Furnished,Seputeh,3,0
29028,1400000,3.0,2.0,Condominium (Corner),Land area : 1544 sq. ft.,Fully Furnished,KL Sentral,3,1
29029,880000,1.0,1.0,Condominium (Corner),Built-up : 650 sq. ft.,Partly Furnished,KL Eco City,1,0
29030,2700000,6.0,3.0,Condominium (Corner),"Built-up : 3,973 sq. ft.",Partly Furnished,Sri Hartamas,4,2
29031,540000,2.0,3.0,Condominium (Intermediate),"Built-up : 1,313 sq. ft.",Partly Furnished,Setapak,4,0

In [39]:
#cleaing Size column:

# Extract type and number using regular expressions
data[['type', 'size']] = data['Size'].str.extract(r'([^:]+)\s*:\s*([\d,]+)\s*sq\. ft')
data

,Price,Bathrooms,Car Parks,Property Type,Size,Furnishing,area,No_of_Bedrooms,No_of_servant_rooms,type,size
0,1250000,3.0,2.0,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished,KLCC,2,1,Built-up,"1,335"
1,1030000,4.0,2.0,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished,Dutamas,3,0,Built-up,"1,875"
2,900000,3.0,2.0,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished,Bukit Jalil,4,1,Built-up,"1,513"
3,5350000,5.0,4.0,Bungalow,Land area : 7200 sq. ft.,Partly Furnished,Taman Tun Dr Ismail,4,2,Land area,7200
4,2600000,4.0,4.0,Semi-detached House,Land area : 3600 sq. ft.,Partly Furnished,Taman Tun Dr Ismail,5,0,Land area,3600
...,...,...,...,...,...,...,...,...,...,...,...
29027,750000,2.0,1.0,Condominium,Built-up : 915 sq. ft.,Partly Furnished,Seputeh,3,0,Built-up,915
29028,1400000,3.0,2.0,Condominium (Corner),Land area : 1544 sq. ft.,Fully Furnished,KL Sentral,3,1,Land area,1544
29029,880000,1.0,1.0,Condominium (Corner),Built-up : 650 sq. ft.,Partly Furnished,KL Eco City,1,0,Built-up,650
29030,2700000,6.0,3.0,Condominium (Corner),"Built-up : 3,973 sq. ft.",Partly Furnished,Sri Hartamas,4,2,Built-up,"3,973"
29031,540000,2.0,3.0,Condominium (Intermediate),"Built-up : 1,313 sq. ft.",Partly Furnished,Setapak,4,0,Built-up,"1,313"

In [40]:
data['size'] = data['size'].str.replace(',', '')
data

,Price,Bathrooms,Car Parks,Property Type,Size,Furnishing,area,No_of_Bedrooms,No_of_servant_rooms,type,size
0,1250000,3.0,2.0,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished,KLCC,2,1,Built-up,1335
1,1030000,4.0,2.0,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished,Dutamas,3,0,Built-up,1875
2,900000,3.0,2.0,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished,Bukit Jalil,4,1,Built-up,1513
3,5350000,5.0,4.0,Bungalow,Land area : 7200 sq. ft.,Partly Furnished,Taman Tun Dr Ismail,4,2,Land area,7200
4,2600000,4.0,4.0,Semi-detached House,Land area : 3600 sq. ft.,Partly Furnished,Taman Tun Dr Ismail,5,0,Land area,3600
...,...,...,...,...,...,...,...,...,...,...,...
29027,750000,2.0,1.0,Condominium,Built-up : 915 sq. ft.,Partly Furnished,Seputeh,3,0,Built-up,915
29028,1400000,3.0,2.0,Condominium (Corner),Land area : 1544 sq. ft.,Fully Furnished,KL Sentral,3,1,Land area,1544
29029,880000,1.0,1.0,Condominium (Corner),Built-up : 650 sq. ft.,Partly Furnished,KL Eco City,1,0,Built-up,650
29030,2700000,6.0,3.0,Condominium (Corner),"Built-up : 3,973 sq. ft.",Partly Furnished,Sri Hartamas,4,2,Built-up,3973
29031,540000,2.0,3.0,Condominium (Intermediate),"Built-up : 1,313 sq. ft.",Partly Furnished,Setapak,4,0,Built-up,1313

In [41]:
data['size'].isna().sum()

2541

In [42]:
# Convert 'Bathrooms' column to integer
data['Bathrooms'] = data['Bathrooms'].astype(int)
data

,Price,Bathrooms,Car Parks,Property Type,Size,Furnishing,area,No_of_Bedrooms,No_of_servant_rooms,type,size
0,1250000,3,2.0,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished,KLCC,2,1,Built-up,1335
1,1030000,4,2.0,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished,Dutamas,3,0,Built-up,1875
2,900000,3,2.0,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished,Bukit Jalil,4,1,Built-up,1513
3,5350000,5,4.0,Bungalow,Land area : 7200 sq. ft.,Partly Furnished,Taman Tun Dr Ismail,4,2,Land area,7200
4,2600000,4,4.0,Semi-detached House,Land area : 3600 sq. ft.,Partly Furnished,Taman Tun Dr Ismail,5,0,Land area,3600
...,...,...,...,...,...,...,...,...,...,...,...
29027,750000,2,1.0,Condominium,Built-up : 915 sq. ft.,Partly Furnished,Seputeh,3,0,Built-up,915
29028,1400000,3,2.0,Condominium (Corner),Land area : 1544 sq. ft.,Fully Furnished,KL Sentral,3,1,Land area,1544
29029,880000,1,1.0,Condominium (Corner),Built-up : 650 sq. ft.,Partly Furnished,KL Eco City,1,0,Built-up,650
29030,2700000,6,3.0,Condominium (Corner),"Built-up : 3,973 sq. ft.",Partly Furnished,Sri Hartamas,4,2,Built-up,3973
29031,540000,2,3.0,Condominium (Intermediate),"Built-up : 1,313 sq. ft.",Partly Furnished,Setapak,4,0,Built-up,1313

In [43]:
# Convert 'Car Parks' column to integer
data['Car Parks'] = data['Car Parks'].astype(int)
data

,Price,Bathrooms,Car Parks,Property Type,Size,Furnishing,area,No_of_Bedrooms,No_of_servant_rooms,type,size
0,1250000,3,2,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished,KLCC,2,1,Built-up,1335
1,1030000,4,2,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished,Dutamas,3,0,Built-up,1875
2,900000,3,2,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished,Bukit Jalil,4,1,Built-up,1513
3,5350000,5,4,Bungalow,Land area : 7200 sq. ft.,Partly Furnished,Taman Tun Dr Ismail,4,2,Land area,7200
4,2600000,4,4,Semi-detached House,Land area : 3600 sq. ft.,Partly Furnished,Taman Tun Dr Ismail,5,0,Land area,3600
...,...,...,...,...,...,...,...,...,...,...,...
29027,750000,2,1,Condominium,Built-up : 915 sq. ft.,Partly Furnished,Seputeh,3,0,Built-up,915
29028,1400000,3,2,Condominium (Corner),Land area : 1544 sq. ft.,Fully Furnished,KL Sentral,3,1,Land area,1544
29029,880000,1,1,Condominium (Corner),Built-up : 650 sq. ft.,Partly Furnished,KL Eco City,1,0,Built-up,650
29030,2700000,6,3,Condominium (Corner),"Built-up : 3,973 sq. ft.",Partly Furnished,Sri Hartamas,4,2,Built-up,3973
29031,540000,2,3,Condominium (Intermediate),"Built-up : 1,313 sq. ft.",Partly Furnished,Setapak,4,0,Built-up,1313

In [44]:
data

,Price,Bathrooms,Car Parks,Property Type,Size,Furnishing,area,No_of_Bedrooms,No_of_servant_rooms,type,size
0,1250000,3,2,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished,KLCC,2,1,Built-up,1335
1,1030000,4,2,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished,Dutamas,3,0,Built-up,1875
2,900000,3,2,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished,Bukit Jalil,4,1,Built-up,1513
3,5350000,5,4,Bungalow,Land area : 7200 sq. ft.,Partly Furnished,Taman Tun Dr Ismail,4,2,Land area,7200
4,2600000,4,4,Semi-detached House,Land area : 3600 sq. ft.,Partly Furnished,Taman Tun Dr Ismail,5,0,Land area,3600
...,...,...,...,...,...,...,...,...,...,...,...
29027,750000,2,1,Condominium,Built-up : 915 sq. ft.,Partly Furnished,Seputeh,3,0,Built-up,915
29028,1400000,3,2,Condominium (Corner),Land area : 1544 sq. ft.,Fully Furnished,KL Sentral,3,1,Land area,1544
29029,880000,1,1,Condominium (Corner),Built-up : 650 sq. ft.,Partly Furnished,KL Eco City,1,0,Built-up,650
29030,2700000,6,3,Condominium (Corner),"Built-up : 3,973 sq. ft.",Partly Furnished,Sri Hartamas,4,2,Built-up,3973
29031,540000,2,3,Condominium (Intermediate),"Built-up : 1,313 sq. ft.",Partly Furnished,Setapak,4,0,Built-up,1313

In [45]:
data.isna().sum()

Price                     0
Bathrooms                 0
Car Parks                 0
Property Type             0
Size                      0
Furnishing                0
area                      0
No_of_Bedrooms            0
No_of_servant_rooms       0
type                   2541
size                   2541
dtype: int64

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29032 entries, 0 to 29031
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Price                29032 non-null  int32
 1   Bathrooms            29032 non-null  int32
 2   Car Parks            29032 non-null  int32
 3   Property Type        29032 non-null  object
 4   Size                 29032 non-null  object
 5   Furnishing           29032 non-null  object
 6   area                 29032 non-null  object
 7   No_of_Bedrooms       29032 non-null  object
 8   No_of_servant_rooms  29032 non-null  object
 9   type                 26491 non-null  object
 10  size                 26491 non-null  object
dtypes: int32(3), object(8)
memory usage: 2.1+ MB

In [47]:
data= data.dropna()
data.reset_index(drop=True, inplace=True) 
data

,Price,Bathrooms,Car Parks,Property Type,Size,Furnishing,area,No_of_Bedrooms,No_of_servant_rooms,type,size
0,1250000,3,2,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished,KLCC,2,1,Built-up,1335
1,1030000,4,2,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished,Dutamas,3,0,Built-up,1875
2,900000,3,2,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished,Bukit Jalil,4,1,Built-up,1513
3,5350000,5,4,Bungalow,Land area : 7200 sq. ft.,Partly Furnished,Taman Tun Dr Ismail,4,2,Land area,7200
4,2600000,4,4,Semi-detached House,Land area : 3600 sq. ft.,Partly Furnished,Taman Tun Dr Ismail,5,0,Land area,3600
...,...,...,...,...,...,...,...,...,...,...,...
26486,750000,2,1,Condominium,Built-up : 915 sq. ft.,Partly Furnished,Seputeh,3,0,Built-up,915
26487,1400000,3,2,Condominium (Corner),Land area : 1544 sq. ft.,Fully Furnished,KL Sentral,3,1,Land area,1544
26488,880000,1,1,Condominium (Corner),Built-up : 650 sq. ft.,Partly Furnished,KL Eco City,1,0,Built-up,650
26489,2700000,6,3,Condominium (Corner),"Built-up : 3,973 sq. ft.",Partly Furnished,Sri Hartamas,4,2,Built-up,3973
26490,540000,2,3,Condominium (Intermediate),"Built-up : 1,313 sq. ft.",Partly Furnished,Setapak,4,0,Built-up,1313

In [48]:
data['size'] = data['size'].astype(int)

C:\Users\prabh\AppData\Local\Temp\ipykernel_19744\2008391559.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['size'] = data['size'].astype(int)

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26491 entries, 0 to 26490
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Price                26491 non-null  int32
 1   Bathrooms            26491 non-null  int32
 2   Car Parks            26491 non-null  int32
 3   Property Type        26491 non-null  object
 4   Size                 26491 non-null  object
 5   Furnishing           26491 non-null  object
 6   area                 26491 non-null  object
 7   No_of_Bedrooms       26491 non-null  object
 8   No_of_servant_rooms  26491 non-null  object
 9   type                 26491 non-null  object
 10  size                 26491 non-null  int32
dtypes: int32(4), object(7)
memory usage: 1.8+ MB

In [50]:
# Use regex to remove non-digit characters and keep only numbers
data['No_of_servant_rooms'] = data['No_of_servant_rooms'].str.replace(r'\D+', '', regex=True)

# Replace empty strings or NaN values with a placeholder value (e.g., '0')
data['No_of_servant_rooms'].replace('', '0', inplace=True)
data['No_of_servant_rooms'].fillna('0', inplace=True)

# Convert the column to integer type
data['No_of_servant_rooms'] = data['No_of_servant_rooms'].astype(int)

C:\Users\prabh\AppData\Local\Temp\ipykernel_19744\4288363492.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['No_of_servant_rooms'] = data['No_of_servant_rooms'].str.replace(r'\D+', '', regex=True)
C:\Users\prabh\AppData\Local\Temp\ipykernel_19744\4288363492.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['No_of_servant_rooms'].replace('', '0', inplace=True)
C:\Users\prabh\AppData\Local\Temp\ipykernel_19744\4288363492.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['No_of_servant_rooms'].fillna('0', inplace=True)
C:\Users\prabh\AppData\Local\Temp\ipykernel_19744\4288363492.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['No_of_servant_rooms'] = data['No_of_servant_rooms'].astype(int)

In [51]:
data

,Price,Bathrooms,Car Parks,Property Type,Size,Furnishing,area,No_of_Bedrooms,No_of_servant_rooms,type,size
0,1250000,3,2,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished,KLCC,2,1,Built-up,1335
1,1030000,4,2,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished,Dutamas,3,0,Built-up,1875
2,900000,3,2,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished,Bukit Jalil,4,1,Built-up,1513
3,5350000,5,4,Bungalow,Land area : 7200 sq. ft.,Partly Furnished,Taman Tun Dr Ismail,4,2,Land area,7200
4,2600000,4,4,Semi-detached House,Land area : 3600 sq. ft.,Partly Furnished,Taman Tun Dr Ismail,5,0,Land area,3600
...,...,...,...,...,...,...,...,...,...,...,...
26486,750000,2,1,Condominium,Built-up : 915 sq. ft.,Partly Furnished,Seputeh,3,0,Built-up,915
26487,1400000,3,2,Condominium (Corner),Land area : 1544 sq. ft.,Fully Furnished,KL Sentral,3,1,Land area,1544
26488,880000,1,1,Condominium (Corner),Built-up : 650 sq. ft.,Partly Furnished,KL Eco City,1,0,Built-up,650
26489,2700000,6,3,Condominium (Corner),"Built-up : 3,973 sq. ft.",Partly Furnished,Sri Hartamas,4,2,Built-up,3973
26490,540000,2,3,Condominium (Intermediate),"Built-up : 1,313 sq. ft.",Partly Furnished,Setapak,4,0,Built-up,1313

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26491 entries, 0 to 26490
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Price                26491 non-null  int32
 1   Bathrooms            26491 non-null  int32
 2   Car Parks            26491 non-null  int32
 3   Property Type        26491 non-null  object
 4   Size                 26491 non-null  object
 5   Furnishing           26491 non-null  object
 6   area                 26491 non-null  object
 7   No_of_Bedrooms       26491 non-null  object
 8   No_of_servant_rooms  26491 non-null  int32
 9   type                 26491 non-null  object
 10  size                 26491 non-null  int32
dtypes: int32(5), object(6)
memory usage: 1.7+ MB

In [53]:
# Calculate minimum and maximum size values for studio records
min_size_studio = data.loc[data['No_of_Bedrooms'] == 'Studio', 'size'].min()
max_size_studio = data.loc[data['No_of_Bedrooms'] == 'Studio', 'size'].max()
mean_size_studio = data.loc[data['No_of_Bedrooms'] == 'Studio', 'size'].mean()

print("Minimum size for studio records:", min_size_studio)
print("Maximum size for studio records:", max_size_studio)
print("Mean size for studio records:", mean_size_studio)

Minimum size for studio records: 250
Maximum size for studio records: 243900
Mean size for studio records: 1423.7371794871794

In [54]:
data['No_of_Bedrooms'].value_counts()

3           13380
2            4438
4            3945
1            1983
5            1506
6             567
Studio        312
7             222
8              80
9              20
10             18
12              5
20 Above        4
13              4
11              3
14              2
15              1
16              1
Name: No_of_Bedrooms, dtype: int64

In [55]:
# Create a new column 'studio_apartment'
data['studio_apartment'] = data['No_of_Bedrooms'].apply(lambda x: 1 if x == 'Studio' else 0)

C:\Users\prabh\AppData\Local\Temp\ipykernel_19744\681213311.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['studio_apartment'] = data['No_of_Bedrooms'].apply(lambda x: 1 if x == 'Studio' else 0)

In [56]:
# Replace 'studio' values in 'No_of_Bedrooms' column with 0
data['No_of_Bedrooms'].replace({'Studio': 0, '20 Above': 21}, inplace=True)

data

C:\Users\prabh\AppData\Local\Temp\ipykernel_19744\2864032243.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['No_of_Bedrooms'].replace({'Studio': 0, '20 Above': 21}, inplace=True)

,Price,Bathrooms,Car Parks,Property Type,Size,Furnishing,area,No_of_Bedrooms,No_of_servant_rooms,type,size,studio_apartment
0,1250000,3,2,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished,KLCC,2,1,Built-up,1335,0
1,1030000,4,2,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished,Dutamas,3,0,Built-up,1875,0
2,900000,3,2,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished,Bukit Jalil,4,1,Built-up,1513,0
3,5350000,5,4,Bungalow,Land area : 7200 sq. ft.,Partly Furnished,Taman Tun Dr Ismail,4,2,Land area,7200,0
4,2600000,4,4,Semi-detached House,Land area : 3600 sq. ft.,Partly Furnished,Taman Tun Dr Ismail,5,0,Land area,3600,0
...,...,...,...,...,...,...,...,...,...,...,...,...
26486,750000,2,1,Condominium,Built-up : 915 sq. ft.,Partly Furnished,Seputeh,3,0,Built-up,915,0
26487,1400000,3,2,Condominium (Corner),Land area : 1544 sq. ft.,Fully Furnished,KL Sentral,3,1,Land area,1544,0
26488,880000,1,1,Condominium (Corner),Built-up : 650 sq. ft.,Partly Furnished,KL Eco City,1,0,Built-up,650,0
26489,2700000,6,3,Condominium (Corner),"Built-up : 3,973 sq. ft.",Partly Furnished,Sri Hartamas,4,2,Built-up,3973,0
26490,540000,2,3,Condominium (Intermediate),"Built-up : 1,313 sq. ft.",Partly Furnished,Setapak,4,0,Built-up,1313,0

In [57]:
data.studio_apartment.value_counts()

0    26179
1      312
Name: studio_apartment, dtype: int64

In [58]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26491 entries, 0 to 26490
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Price                26491 non-null  int32
 1   Bathrooms            26491 non-null  int32
 2   Car Parks            26491 non-null  int32
 3   Property Type        26491 non-null  object
 4   Size                 26491 non-null  object
 5   Furnishing           26491 non-null  object
 6   area                 26491 non-null  object
 7   No_of_Bedrooms       26491 non-null  object
 8   No_of_servant_rooms  26491 non-null  int32
 9   type                 26491 non-null  object
 10  size                 26491 non-null  int32
 11  studio_apartment     26491 non-null  int64
dtypes: int32(5), int64(1), object(6)
memory usage: 1.9+ MB

In [59]:
data['No_of_Bedrooms']=data['No_of_Bedrooms'].astype(int)

C:\Users\prabh\AppData\Local\Temp\ipykernel_19744\1804879422.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['No_of_Bedrooms']=data['No_of_Bedrooms'].astype(int)

In [60]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26491 entries, 0 to 26490
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Price                26491 non-null  int32
 1   Bathrooms            26491 non-null  int32
 2   Car Parks            26491 non-null  int32
 3   Property Type        26491 non-null  object
 4   Size                 26491 non-null  object
 5   Furnishing           26491 non-null  object
 6   area                 26491 non-null  object
 7   No_of_Bedrooms       26491 non-null  int32
 8   No_of_servant_rooms  26491 non-null  int32
 9   type                 26491 non-null  object
 10  size                 26491 non-null  int32
 11  studio_apartment     26491 non-null  int64
dtypes: int32(6), int64(1), object(5)
memory usage: 1.8+ MB

In [62]:
data

,Price,Bathrooms,Car Parks,Property Type,Size,Furnishing,area,No_of_Bedrooms,No_of_servant_rooms,type,size,studio_apartment
0,1250000,3,2,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished,KLCC,2,1,Built-up,1335,0
1,1030000,4,2,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished,Dutamas,3,0,Built-up,1875,0
2,900000,3,2,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished,Bukit Jalil,4,1,Built-up,1513,0
3,5350000,5,4,Bungalow,Land area : 7200 sq. ft.,Partly Furnished,Taman Tun Dr Ismail,4,2,Land area,7200,0
4,2600000,4,4,Semi-detached House,Land area : 3600 sq. ft.,Partly Furnished,Taman Tun Dr Ismail,5,0,Land area,3600,0
...,...,...,...,...,...,...,...,...,...,...,...,...
26486,750000,2,1,Condominium,Built-up : 915 sq. ft.,Partly Furnished,Seputeh,3,0,Built-up,915,0
26487,1400000,3,2,Condominium (Corner),Land area : 1544 sq. ft.,Fully Furnished,KL Sentral,3,1,Land area,1544,0
26488,880000,1,1,Condominium (Corner),Built-up : 650 sq. ft.,Partly Furnished,KL Eco City,1,0,Built-up,650,0
26489,2700000,6,3,Condominium (Corner),"Built-up : 3,973 sq. ft.",Partly Furnished,Sri Hartamas,4,2,Built-up,3973,0
26490,540000,2,3,Condominium (Intermediate),"Built-up : 1,313 sq. ft.",Partly Furnished,Setapak,4,0,Built-up,1313,0

In [63]:
data.to_csv('KL_clean_data.csv',index=False)